@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fonts-lato {
    font-family: 'Lato', sans-serif;
}

.fonts-roboto {
    font-family: 'Roboto', sans-serif;
}

.fonts-arial {
    font-family: 'Arial', sans-serif;
}

.fonts-opensans {
    font-family: 'Open Sans', sans-serif;
}

.video-mask {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

.logo {
    display: block;
    margin-left: 0;
    margin-right: 0;
    max-height: 70px;
}